mixin head(scriptPath,title)
    doctype html
    html(lang="en")
        head
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            script(src="p5.min.js" defer)
            script(src='classes.js' defer)
            script(src=scriptPath defer)
            title title