include mixins/navbar.pug
include mixins/head.pug

+head('chap3.js','chapitre 3')
+navbar('chapitre 3')
h2 Pendulum
div(id="pendulum-swing-basic")
h2 Pendulum Dragging
div(id="pendulum-swing-draggin")
h2 Spring force
div(id=id="spring-force")