include mixins/navbar.pug
include mixins/head.pug

+head('chap4.js','chapitre 4')
+navbar('chapitre 4')
h2 Particle system (w/gravity)
div(id="particle-system")
h2 System of system
div(id="system-of-system")
h2 Particle system with Repeller and wind directed by mouse
div(id="ps-w-repeller")