include mixins/navbar.pug
include mixins/head.pug

+head('chap1.js','chapitre 1')
+navbar('chapitre 1')
h2 Bouncing Ball
div(id="bouncing-ball")
h2 Random bouncing ball dragged by mouse
div(id="bouncing-ball-mouse")